# Gradle
.gradle/
.kotlin/
/local.properties
/gradle-8.13/
/build/
**/build/

# IDE
.idea/
*.iml

# Android/Artifactory outputs
*.apk
*.aab
*.ap_
*.dex
*.class

# Native/NDK
.cxx/
.externalNativeBuild/

# Logs and caches
*.log

# OS
.DS_Store
Thumbs.db

# Misc
captures/
.gradle-temp/wrapper/dists/gradle-8.13-bin/5xuhj0ry160q40clulazy9h7d/gradle-8.13/lib/gradle-file-temp-8.13.jar
